@charset "utf-8";
/* CSS Document */

p#npwd_error {
    color: #a94442 !important;
}
p#cpwd_error {
    color: #a94442 !important;
}
p#opwd_error {
    color: #a94442 !important;
}
p.help-block {
    color: #a94442 !important;
}
.has-error.form-control {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.g-recaptcha.error_message {
    /* border: red; */
    width: 306px;
    height: 80px;
    border: 2px solid #a94442!important;
}
label.error {
    color: #a94442;
}

/* #Reset & Basics
================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clr {
	clear: both;
}

.alignleft {
	float: left;
	margin: 0 20px 20px 0px;
}

.alignright {
	float: right;
	margin: 0 0 20px 20px;
}

.txtleft {
	text-align: left
}

.txtcenter {
	text-align: center !important;
}

/* #Basic Styles
================================================== */

html,
body {
	margin: 0 auto;
	padding: 0;
	height: 100%;
}

body {
	background: #f2f2f2;
	font-size: 14px;
	color: #222;
	-webkit-font-smoothing: antialiased;
	/* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	font-family: 'Roboto', sans-serif;
}

/* #Typography
================================================== */

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-weight: inherit;
}

em {
	font-style: italic
}

strong {
	font-weight: 700;
	color: red;
}

/*    Blockquotes  */

blockquote,
blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}

blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}

blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}

blockquote cite:before {
	content: "\2014 \0020"
}

blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
	color: #555
}

hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}

/* #Links
================================================== */

a,
a:visited {
	text-decoration: none;
	outline: 0;
	/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

img:hover {
	outline: none;
}

p a,
p a:visited {
	line-height: inherit
}

/* #Lists
================================================== */

ul,
ol {
	margin: 0
}

ul {
	list-style: none outside
}

ol {
	list-style: decimal
}

ol,
ul.square,
ul.circle,
ul.disc {
	margin-left: 30px
}

ul.square {
	list-style: square outside
}

ul.circle {
	list-style: circle outside
}

ul.disc {
	list-style: disc outside
}

ul ul li,
ul ol li,
ol ol li,
ol ul li {
	margin: 0;
	padding: 0;
}

li {
	line-height: 18px;
}

/* #Images
================================================== */

img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */

button::-moz-focus-inner,
::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* custom css */


#wrapper {
	margin: 0 auto;
	padding: 0;
	position: relative;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

.top-header {
	margin: 0;
	padding: 0;
	background: #fff;
	border-bottom: 1px solid #ddd;
	position: relative;
	width: 100%;
	top: 0;
	z-index: 11;
}

.top-header .logo-div {
	margin: 0;
	padding: 5px 0;
	display: inline-block;
	float: left;
}

.top-header .logo-box {
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.top-header .logo-box .logo-txt {
	margin: 0;
	padding: 10px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.top-header .top-right {
	margin: 20px 0 0 0;
	padding: 0;
	display: inline-block;
	text-align: right;
	float: right;
	vertical-align: middle;
}

.top-header .top-right .top-txt-1 {
	display: inline-block;
	margin: 0 10px 0 10px;
	padding: 0;
	color: #666;
	font-size: 12px;
}

.top-header .top-right .top-txt-1 a {
	color: #00a651;
}

.top-header .top-right .top-txt-1 a:hover {
	color: #F30;
}

.top-header .top-right .top-txt-2 {
	display: inline-block;
	margin: 0 10px 0 10px;
	padding: 10px 20px;
	color: #fff;
	font-size: 12px;
	background: #00a651;
	border-radius: 23px;
}

.top-header .top-right .top-txt-2 a {
	color: #f1e528;
}

.top-header .top-right .top-txt-2 a:hover {
	color: #fff;
}

.top-header .top-right .top-txt {
	display: inline-block;
	margin: 0 10px 0 10px;
	padding: 0;
	color: #666;
	font-size: 12px;
}

.top-header .top-right .top-txt span {
	color: #00a651;
}

.top-header .client-logo {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.nav-div {
	margin: 0;
	padding: 0;
	position: relative;
	background: #2e3192;
}

.nav-div .navbar,
.navbar-collapse {
	margin: 0;
	padding: 0 !important;
	min-height: auto;
}

.nav-div .navbar-nav {
	margin: 0;
	padding: 0;
	float: left;
}

.nav-div .navbar-nav>li {
	padding: 0;
}

.nav-div .navbar-nav>li>a {
	margin: 0;
	padding: 10px 25px;
	font-size: 14px;
	color: #fff;
	line-height: normal !important;
	letter-spacing: 1px;
}

.nav-div .navbar-nav>li.active a {
	color: #1ed879;
}

.nav-div .navbar-nav>li>a:hover,
.nav-div .navbar-nav>li>a:focus {
	background-color: transparent !important;
	color: #1ed879;
}

.nav-div .navbar-nav>li.active .dropdown-menu {
	background: #fff !important;
}

.nav-div .dropdown-menu>li>a {
	color: #393186 !important;
	border-bottom: 1px solid #ddd !important;
	font-size: 13px;
	background: #fff !important;
	padding: 5px 10px;
}

.nav-div .dropdown-menu>li:last-child>a {
	border-bottom: 0 !important;
}

.nav-div .dropdown-menu>li>a:focus,
.nav-div .dropdown-menu>li>a:hover {
	background: #00a651 !important;
	color: #fff !important;
}

.nav-div .navbar-nav .collapsible ul.sm-nowrap>li>a {
	color: #666;
	font-size: 13px !important;
	text-transform: none !important;
}

.nav-div .navbar-nav>li.active .dropdown-menu>li>a {
	color: #00a651;
	font-size: 13px !important;
	text-transform: none !important;
}

.container-area {
	margin: 10px 0 10px 0;
	padding: 0;
	position: relative;
}

.content-header {
	position: relative;
	padding: 0 0 10px 0;
	margin: 0;
	border-bottom: 1px solid #ddd;
}

.content-header>h1 {
	margin: 0;
	font-size: 20px;
	font-weight: normal;
	display: inline-block;
	float: left;
	color: #2e3192;
	font-weight: 700;
	text-transform: uppercase;
}

.content-header>.breadcrumb {
	float: right;
	background: transparent !important;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 12px;
	padding: 0;
	position: absolute;
	top: 0;
	right: 10px;
	border-radius: 2px
}

.content-header>.breadcrumb>li>a {
	color: #444;
	text-decoration: none;
	display: inline-block
}

.content-header>.breadcrumb>li>a:hover {
	color: #00a651 !important;
}

.content-header>.breadcrumb>li>a>.fa,
.content-header>.breadcrumb>li>a>.glyphicon,
.content-header>.breadcrumb>li>a>.ion {
	margin-right: 5px
}

.content-header>.breadcrumb>li+li:before {
	content: '>\00a0'
}

@media (max-width:991px) {
	.content-header>.breadcrumb {
		position: relative;
		margin-top: 5px;
		top: 0;
		right: 0;
		float: none;
		background: #d2d6de;
		padding-left: 10px
	}
	.content-header>.breadcrumb li:before {
		color: #2e3192
	}
}

.content {
	margin: 20px 0;
	padding: 0 0 50px 0;
}

.button-link {
	background: #00a651;
	margin: 0;
	padding: 5px 20px;
	border-radius: 12px;
	color: #fff;
	font-size: 12px;
	display: inline-block;
}

.button-link:hover {
	color: #fff;
	background: #026633;
}

.file-info {
	background: #666;
	color: #fff;
	font-size: 11px;
	display: inline-block;
	margin: 0;
	padding: 5px 10px;
	border-radius: 4px;
	border: 0;
}

.file-info:hover {
	background: #00a651;
	color: #fff !important;
}

.pagination-div {
	margin: 0;
	padding: 0;
}

.pagination-div table {
	margin: 20px 0;
	padding: 0;
}

.pagination-div .pagination {
	margin: 0;
	padding: 0;
}

.pagination-div .pagination a {
	color: #2e3192;
}

.pagination-div td {
	color: #666;
	font-size: 12px;
}

.pagination-div td a {
	color: #2e3192;
}

.pagination-div .pagination-link {
	margin: 0;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: transparent;
	color: #666;
	font-size: 12px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	background: #00a651 !important;
}

.cust-tbl {
	background: #fff;
}

.cust-tbl th {
	background: #ddd;
	font-weight: 700;
}

.dataTables_wrapper label {
	font-weight: normal;
}

.dataTables_wrapper select,
.dataTables_wrapper input[ type="search"] {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.goto-input {
	margin: 0;
	padding: 0;
	text-align: right;
}

.goto-input .form-control {
	border-radius: 0;
	display: inline-block;
	width: 50%;
	font-size: 12px;
	border: 1px solid #ddd !important;
}

.goto-input .btn {
	border-radius: 0;
	display: inline-block;
	margin-left: 5px;
	height: 34px;
	margin-top: -2px;
}

.btn {
	border-radius: 0 !important;
}

.btn-primary {
	background-color: #00a651 !important;
	border-color: #00a651 !important;
	color: #fff;
}

.btn-primary.focus,
.btn-primary:focus {
	color: #fff;
	background-color: #086d33 !important;
	border-color: #086d33 !important
}

.btn-primary:hover {
	color: #fff;
	background-color: #086d33 !important;
	border-color: #086d33 !important
}

.btn-default {
	color: #fff !important;
	background-color: #666 !important;
	border-color: #666 !important
}

.btn-default.focus,
.btn-default:focus {
	color: #fff !important;
	background-color: #222 !important;
	border-color: #222 !important
}

.btn-default:hover {
	color: #fff !important;
	background-color: #222 !important;
	border-color: #222 !important
}

.box label {
	margin: 10px 0 0 0;
}

.form-horizontal {
	margin: 0 15px;
	padding: 0;
}

/*.box label { text-align:right!important; display:block;}*/

.form-control {
	border-radius: 0 !important;
	display: inline-block !important;
}

.input-95 {
	width: 90% !important;
}

.req {
	color: red;
	display: inline-block;
	margin-left: 2px;
}

.overflow-x-tbl {
	overflow-x: scroll;
	height: 200px;
}

.cust-fieldset {
	margin: 0 0 20px 0;
	padding: 10px;
	border: 1px solid #ddd;
}

.cust-fieldset legend {
	margin: 0;
	padding: 0 10px;
	display: inline-block;
	width: auto;
	font-weight: 700;
	border: 0;
	font-size: 14px;
	color: #000;
}

.cust-fieldset-div {
	margin: 0;
	padding: 0;
	color: #666;
	font-size: 13px;
}

.cust-fieldset-div label {
	margin: 0 10px 0 0;
	padding: 0;
}

.button-group {
	margin: 20px 0;
	padding: 0;
}

.bootstrap-select .btn-default {
	background: #fff !important;
	color: #666 !important;
	border-color: #ddd !important;
}

.tab-content {
	margin: 0;
	padding: 10px;
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.edit-link {
	color: #0C0;
	font-size: 16px;
}

.remove-link {
	color: #C30;
	font-size: 16px;
}

.active-dot {
	color: #0C6;
	font-size: 13px;
}

.inactive-dot {
	color: #F90;
	font-size: 13px;
}

.record-status-div {
	margin: 20px 0;
	padding: 0;
}

.nav-tabs>li>a {
	padding: 10px 80px !important;
	margin-right: 10px !important;
	font-size: 16px;
	color: #393186;
	font-weight: 700;
	text-transform: uppercase;
}

.login-regi-div {
	margin: 50px 0 0 0;
	padding: 0;
	position: relative;
}

.login-regi-div .logo-box {
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.login-regi-div .logo-box .logo-txt {
	margin: 0 20px 0 0;
	padding: 0 20px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.login-regi-div .logo-box .sub-logo-txt {
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.login-regi-div .login-regi-box {
	margin: 0 auto;
	padding: 40px 0;
	position: relative;
	width: 40%;
}

.login-regi-div .login-regi-box fieldset {
	margin: 0;
	padding: 20px;
	border: 1px solid #ddd;
	background: #fff;
}

.login-regi-div .login-regi-box legend {
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	border: 0;
	width: auto;
	display: inline-block;
}

.login-regi-div .login-regi-box .login-regi-form {
	margin: 0;
	padding: 0 25px;
}

.login-regi-div .login-regi-box .login-regi-form h3 {
	margin: 0 0 20px 0;
	padding: 0;
	color: #000;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}

.login-regi-div .login-regi-box .login-regi-form .form-control {
	border: 1px solid #ddd;
}

.login-regi-div .login-regi-box .login-regi-form .btn-sign-sbtn {
	padding: 6px 0;
	background: #00a651;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	display: block;
	width: 100%;
	text-transform: uppercase;
}

.login-regi-div .login-regi-box .login-regi-form .btn-sign-sbtn:hover {
	background: #e08e0b;
}

.login-regi-div .login-regi-box .login-regi-form a {
	color: #f97b00;
	text-align: center;
}

.login-regi-div .login-regi-box .login-regi-form .link-txt {
	color: #666;
	font-size: 13px;
	display: block;
	text-align: center;
}

.login-regi-div .login-regi-box .login-regi-form a:hover {
	color: #24225c;
}

.log-reg-footer-txt {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #666;
	font-size: 12px;
}

.cust-col-20 {
	width: 20% !important;
}

.box-body h5 {
	margin: 0 10px 10px 10px;
	padding: 0 0 5px 0;
	color: #000;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #ddd;
}

Input[type="image"] {
	border: 0 !Important;
	outline: 0;
}

Input[type="image"]:hover,
Input[type="image"]:focus {
	border: 0 !Important;
	outline: 0;
}

.tab-content .form-control {
	font-size: 12px;
	font-weight: normal;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	background: #026633 !important;
}

.choose-div-box {
	margin: 50px auto;
	padding: 0;
	position: relative;
	width: 50%;
	text-align: center;
}

.choose-div-box label {
	font-weight: normal;
	font-size: 14px;
}

.inline {
	display: inline-block;
}

.inline-link {
	margin: 0 10px;
	padding: 6px 30px;
	background: #00a651;
	color: #fff;
	font-size: 14px;
	display: inline-block;
	line-height: 1.42857143;
	height: 34px;
}

.inline-link:hover {
	color: #fff;
	background: #026633;
}

.form-half-div {
	margin: 40px auto;
	padding: 0;
	position: relative;
	width: 50%;
}

.form-half-div label {
	margin-bottom: 10px;
}

.input-50 {
	width: 50% !Important;
}

.footer-div {
	margin: 0;
	padding: 20px 0;
	background: #fff;
	border-top: 1px solid #ddd;
	color: #666;
	font-size: 12px;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 11;
}

.footer-div a {
	color: #00a651;
	display: inline-block;
}

.footer-div a:before {
	content: "|";
	margin: 0 10px;
	color: #ddd;
}

.log-reg-footer-txt a {
	color: #00a651;
	display: inline-block;
}

.log-reg-footer-txt a:before {
	content: "|";
	margin: 0 10px;
	color: #ddd;
}

.form-div {
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.form-div .form-box {
	margin: 0 auto;
	padding: 20px;
	position: relative;
	background: #fff;
	width: 80%;
	border: 1px solid #ddd;
}

.form-div .form-box label {
	font-weight: 500;
	margin: 8px 0;
}

.mt30 {
	margin-top: 30px;
}

.search-blk {
	margin: 20px 0;
	padding: 0;
	position: relative;
	text-align: right;
}

.search-blk label {
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	font-weight: normal;
}

.search-blk .search-input {
	display: inline-block;
}

.search-blk .form-control {
	display: inline-block;
	width: 200px;
}

/*File Upload CSS */

input[type=file],
input[type=file]+input {
	display: inline-block;
	background-color: #eee;
	border: 1px solid gray;
	font-size: 12px;
	padding: 4px;
	margin: 0 0 5px 0;
	cursor: pointer;
}

input[type=file]+input {
	padding: 13px;
	background: #00a651;
	border: 0;
	cursor: pointer;
	color: #fff;
}

::-webkit-file-upload-button {
	-webkit-appearance: none;
	background-color: #00a651;
	font-size: 12px;
	padding: 8px;
	border: 0;
	cursor: pointer;
	color: #fff;
}

::-ms-browse {
	background-color: #00a651;
	font-size: 12px;
	padding: 8px;
	color: #fff;
	border: 0;
}

input[type=file]::-webkit-file-upload-button {
	background-color: #00a651;
	font-size: 12px;
	padding: 8px;
	border: 0;
	cursor: pointer;
	color: #fff;
}

/* End File Upload Data*/

/* Register */

.p-heading {
	line-height: 1.4;
	padding: 10px 0;
	text-align: center;
}

.form-div .form-register .form-box {
	width: 100% !important;
}

.form-register .form-group .row {
	padding: 5px 0 5px 0;
}

.form-register .form-group label {
	padding: 7px 0 0 0;
}

.form-register .form-group .form-control {
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .00);
	transition: all .3s;
}

.form-register .form-group .btn.btn-primary.text-center {
	padding: 10px 30px;
	margin: 0px 0 5px 0;
	transition: all .3s ease-in-out;
	outline: none;
}

.form-register .form-group .btn.btn-primary.text-center:hover {
	box-shadow: 3px 3px #0000007d;
	background-color: #00a651 !important;
	border: 1px solid #00a651 !important;
}

/* End of Register */

/* User profile */

.user-profile-div .container {
	padding: 10px 0;
	background-color: #fff;
	margin-top: 50px;
}

.user-profile-div .container .content {
	padding: 0 0 0px 0;
}

.user-profile-div .choose-div-box {
	margin: 10px auto;
	padding: 0;
	position: relative;
	text-align: center;
}

.user-profile-div .choose-div-box h1 {
	margin: 0;
	padding: 10px 0;
}

.user-profile-div .content .row p.title-p {
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.user-profile-div .details-div {
	margin: 0 auto;
	padding: 30px 0 0 0;
	padding: 10px 0 0 25%;
}

.user-profile-div .details-div .row {
	padding: 5px 0;
}

.user-profile-div .details-div p {
	display: inline-block;
	text-transform: capitalize;
	padding-right: 10px;
}

.pl-50 {
	padding-left: 50px !important;
}

.user-profile-div .details-div a {
	display: inline-block;
	text-transform: capitalize;
	padding: 0px 0px;
}

.user-profile-div .details-div a i {
	padding: 0px 10px 0 0;
}

.mt-30 {
	margin-top: 30px;
}

.choose-div-box.m0 {
	margin: 50px auto 0 auto !important;
}

.form-register .form-group {
	margin-bottom: 0px;
}

.form-register .req {
	color: red;
	display: inline-block;
	margin-left: 2px;
	margin-right: 20px;
	margin-top: 10px;
	float: right;
}

/* end of user Profile */

@media only screen and (max-width: 767px) {
	html,
	body {
		overflow-x: hidden;
	}
	.container {
		width: 100% !important;
	}
	.canvas {
		margin: 0 !important;
		padding: 0 !important;
	}
	.nav-div .container-fluid,
	.nav-div .row,
	.nav-div .col-md-12,
	.nav-div .col-sm-12 {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.nav-div {
		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
		background: transparent;
		z-index: 10;
	}
	.navbar-toggle .icon-bar {
		background: #00a651;
		margin-right: 15px;
	}
	.navbar-toggle {
		margin: 0 !important;
		float: left !important;
	}
	.nav-div .navbar {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.nav-div .navbar-nav>li>a {
		padding: 10px 0;
	}
	.nav-div .navbar-nav>li>a .caret {
		display: none;
	}
	.navbar-nav .sub-arrow,
	.navbar-nav .collapsible .sub-arrow {
		color: #fff;
		font-weight: normal;
		font-size: 13px;
	}
	.has-submenu:after {
		color: #fff !important;
		content: "\f067";
		font-family: 'FontAwesome';
		font-size: 13px !important;
		position: absolute;
		font-weight: normal;
		right: 20px;
	}
	.navbar-default .navbar-nav>li>a:focus,
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>.open>a,
	.navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover,
	.nav .open>a,
	.nav .open>a:focus,
	.nav .open>a:hover,
	.dropdown-menu>li>a:focus,
	.dropdown-menu>li>a:hover {
		background: transparent !Important;
	}
	.navbar-collapse {
		background: #333d40;
		z-index: 10000;
		padding: 10px 0 !important;
		margin: 10px 0;
	}
	.nav-div .navbar-nav>li>a {
		padding: 10px 20px !Important;
	}
	.nav-div .navbar-nav>li.active .dropdown-menu {
		background: transparent !important;
		padding: 0 20px;
	}
	.nav-div .navbar-nav>li .dropdown-menu {
		background: transparent !important;
		padding: 0 20px;
	}
	.nav-div .navbar-nav>li .dropdown-menu>li>a {
		background: transparent !important;
		color: #ccc !important;
	}
	.nav-div .navbar-nav>li .dropdown-menu>li>a:hover {
		color: #fff !important;
	}
	.top-header .logo-div {
		margin: 0 auto;
		float: none;
		left: 0;
		position: relative;
		z-index: 10000;
	}
	.top-header .logo-div img {
		z-index: 100000;
	}
	.top-header .top-right {
		margin: 10px 0;
	}
	.top-header .top-right .top-txt-1 {
		margin: 0px 10px 20px 0;
		text-align: right;
	}
	.top-header .top-right .top-txt-2 {
		margin: 0 0 10px 10px;
		line-height: 20px;
	}
	/*.top-header .top-right .client-logo { position:absolute; left:0; top:0; width:20%;}*/
	.top-header .top-right .client-logo {
		position: absolute;
		width: 100%;
		right: 20px;
		top: 10px;
		margin-bottom: 20px;
	}
	.content-header>h1 {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}
	.content-header>.breadcrumb {
		display: block;
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.nav-tabs>li {
		margin-bottom: 5px;
	}
	.nav>li>a {
		padding: 10px 20px !important;
	}
	.dataTables_info {
		text-align: center;
		margin: 0 0 10px 0;
	}
	.pagination-div {
		text-align: center;
		margin: 0 0 10px 0;
	}
	.goto-input {
		text-align: center;
		margin: 0 0 10px 0;
	}
	.cust-col-20 {
		width: 100% !important;
	}
	.choose-div-box {
		width: 100%;
	}
	.choose-div-box .add-link {
		margin: 20px 0;
	}
	.footer-div span {
		display: block;
		margin: 20px 0 0 0;
	}
	.form-half-div {
		width: 100%;
	}
	.input-50 {
		width: 70% !Important;
	}
	.login-regi-div .login-regi-box {
		width: 90%;
	}
	.log-reg-footer-txt span {
		display: block;
		margin: 20px 0 0 0;
	}
	.form-div .form-box {
		width: 90%;
		padding: 10px;
	}
	.mb15 {
		margin-bottom: 15px;
	}
	/* useer profile */
	.user-profile-div .details-div {
		padding: 10px 0 0 10px;
	}
	.user-profile-div .details-div p {
		padding: 0px 0 0px 0px;
		margin: 0;
	}
	.user-profile-div .details-div .row {
		padding: 10px 0;
	}
	.user-profile-div .details-div .row .col-md-3.col-sm-4 {
		padding: 10px 15px;
	}
	.footer-div {
		bottom: auto;
		position: relative;
	}
	.user-profile-div .details-div a i {
		padding: 0px 10px;
	}
	.m0 {
		margin: 0 auto !important;
	}
	.form-register .req {
		margin-right: 0px;
	}
	.pl-50 {
		padding-left: 0px !important;
	}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {}

@media only screen and (min-width: 480px) and (max-width: 640px) {}

/*
@media only screen and (min-width: 640px){
	.header-section .logodiv img { max-width:28%; }
}*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.container {
		width: 100% !important;
	}
	html,
	body {
		overflow-x: hidden;
	}
	.canvas {
		margin: 0 !important;
		padding: 0 !important;
	}
	.nav-div .container-fluid,
	.nav-div .row,
	.nav-div .col-md-12,
	.nav-div .col-sm-12 {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.nav-div {
		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
		background: transparent;
		z-index: 10;
	}
	.navbar-toggle .icon-bar {
		background: #00a651;
		margin-right: 15px;
	}
	.navbar-toggle {
		margin: 0 !important;
		float: left !important;
	}
	.nav-div .navbar {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.nav-div .navbar-nav>li>a {
		padding: 10px 0;
	}
	.nav-div .navbar-nav>li>a .caret {
		display: none;
	}
	.navbar-nav .sub-arrow,
	.navbar-nav .collapsible .sub-arrow {
		color: #fff;
		font-weight: normal;
		font-size: 13px;
	}
	.has-submenu:after {
		color: #fff !important;
		content: "\f067";
		font-family: 'FontAwesome';
		font-size: 13px !important;
		position: absolute;
		font-weight: normal;
		right: 20px;
	}
	.navbar-default .navbar-nav>li>a:focus,
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>.open>a,
	.navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover,
	.nav .open>a,
	.nav .open>a:focus,
	.nav .open>a:hover,
	.dropdown-menu>li>a:focus,
	.dropdown-menu>li>a:hover {
		background: transparent !Important;
	}
	.navbar-collapse {
		background: #333d40;
		z-index: 10000;
		padding: 10px 0 !important;
		margin: 10px 0;
	}
	.nav-div .navbar-nav>li>a {
		padding: 10px 20px !Important;
	}
	.nav-div .navbar-nav>li.active .dropdown-menu {
		background: transparent !important;
		padding: 0 20px;
	}
	.nav-div .navbar-nav>li .dropdown-menu {
		background: transparent !important;
		padding: 0 20px;
	}
	.nav-div .navbar-nav>li .dropdown-menu>li>a {
		background: transparent !important;
		color: #ccc !important;
	}
	.nav-div .navbar-nav>li .dropdown-menu>li>a:hover {
		color: #fff !important;
	}
	.top-header .logo-div {
		margin: 0 auto;
		float: none;
		left: 30px;
		position: relative;
		z-index: 10000;
	}
	.top-header .logo-div img {
		z-index: 100000;
	}
	.top-header .top-right {
		margin: 10px 0;
	}
	.top-header .top-right .top-txt-1 {
		clear: both;
		position: relative;
		margin: 0px 0 10px 0;
		text-align: right;
	}
	.top-header .top-right .top-txt-2 {
		clear: both;
		position: relative;
		margin: 0px 0 10px 10px;
		line-height: 20px;
	}
	/*.top-header .top-right .client-logo { position:absolute; left:0; top:0; width:20%;}*/
	.top-header .top-right .client-logo {}
	.content-header>.breadcrumb {
		margin: 0;
		text-align: right;
	}
	.nav-tabs>li {
		margin-bottom: 5px;
	}
	.nav>li>a {
		padding: 10px 20px !important;
	}
	.cust-col-20 {
		width: 50% !important;
	}
	.choose-div-box {
		width: 100%;
	}
	.cust-tbl {
		font-size: 13px;
	}
	.form-div .form-box {
		width: 90%;
		padding: 10px;
	}
	/* user profile */
	.user-profile-div .details-div {
		padding: 0px 0 0 12%;
	}
	.choose-div-box.m0 {
		margin: 30px auto 0 auto !important;
		width: 90%;
	}
	.pl-50 {
		padding-left: 50px !important;
	}
}

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {}

@media only screen and (width: 980px) {}

@media only screen and (width: 1024px) {
	.container {
		width: 100% !important;
	}
	html,
	body {
		overflow-x: hidden;
	}
	.canvas {
		margin: 0 !important;
		padding: 0 !important;
	}
	.nav-div .navbar-nav>li>a {
		padding: 10px 15px;
	}
}

.table-fixed thead {
	width: 97%;
}

.table-fixed tbody {
	height: 230px;
	overflow-y: auto;
	width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
	display: block;
}

.table-fixed tbody td,
.table-fixed thead>tr>th {
	float: left !important;
	border-bottom-width: 0;
}

.btn-detail-bid-div { margin: 0; padding:0; position: relative;}
.btn-detail-bid-div .btn-detail { margin-bottom: 10px;}
.btn-detail-bid-div .btn-bid{ margin: 0; padding: 0; display: inline-block; color:#17a0e6; font-size:14px;}