/*------------------------------------------------------------------
* Project:        							TaladRod
* Author:         							Crenoveative
* Themeforest profile:         	https://themeforest.net/user/crenoveative/portfolio
* URL:            							http://crenoveative.com
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
* 
* Add your style here
* 
-------------------------------------------------------------------*/

.error {
    color: red !important;
}

.search-button-disp {
    background: #FFF;
    color: #17a0e6 !important;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 450px;
    left: 880px;
    z-index: 100;
}